:root {
    --font-sans-serif: nimbus-sans, sans-serif;
    --font-serif: itc-american-typewriter, serif;
    --black: #000;
    --beige: #f2eee1;
    --grey: #797770;
}

html {
    box-sizing: border-box;
    background-color: var(--beige);
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


h1 {
    font-family: var(--font-sans-serif);
}

hr {
  border-top: 2px solid var(--black);
  margin: auto;
}

.font-change {
  font-family: var(--font-serif);
  font-weight: 100;
}

.style-change {
  text-transform: uppercase;
  text-decoration: underline;
}

/** BANNER **/
.banner {  
  font-family: var(--font-serif);
  font-weight: 500;
  font-style: italic;
  font-weight: 500;
  color: var(--beige);
  background-color: var(--black);
  text-align: center;
  line-height: 36px;
  letter-spacing: 1px;
}

p.banner {
  margin: 0;
}

/** NAV BAR **/
.nav {
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  display: flex;
  flex-flow: row wrap;
  font-size: 200%;
  justify-content: space-between;
  line-height: 0px;
}

.nav--list {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  margin: 15px 30px 20px 0px;
}

.nav--item {
  padding: 3px;
}

i {
 font-size: x-large;
}

/** LINKS - NAV BAR **/
a.nav--item {
  text-decoration: none;
}

a.nav--item:link {
  color: var(--black);
}

a.nav--item:visited {
  color: var(--black);
}

a.nav--item:hover {
  color: var(--grey);
}


/** FEATURE SECTION **/
h2.feature-title {
  font-family: var(--font-sans-serif);
  font-size: 270%;
  font-weight: 100;
}

img.feature-img {
  max-width: 100%;
}

.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 30px;
  margin: 5px 0px 70px 0px;
  gap: 30px;
}

/** FEATURE SECTION - BUTTONS **/
.button-primary {
  background-color: var(--black);
  color: var(--beige);
  text-transform: uppercase;
  font-family: var(--font-sans-serif);
  font-size: large;
  font-weight: 500;
  border-radius: 20px;
  padding: 8px 15px;
  border: solid 1px var(--black);
}

a.button-primary {
  text-decoration: none;
}

/** NEW ARRIVALS **/
.new-ar--container {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  overflow-x: scroll;
}

.new-ar--product {
  margin: 5px 15px 50px 15px;
  display: grid;
}

.new-ar--img {
  grid-column: span 2;
}

h2.new-ar {
  margin-left: 100px;
  font-family: var(--font-sans-serif);
  font-size: 400%;
  font-weight: 100;
}

.new-ar--title, .new-ar--price {
  font-family: var(--font-sans-serif);
  font-weight: 100;
  font-size: x-large;
  margin-top: 0;
  margin-bottom: 0px;
  grid-column: span 1;
}

.new-ar--price {
  text-align: right;
}

.new-ar--color {
  font-family: var(--font-serif);
  line-height: 10px;
  margin-top: 0;
  margin-bottom: 0px;
  grid-column: span 2;
  margin-bottom: 5px;
}

/** GIF IMAGE **/
video {
  margin-bottom: 20px;
}

/** FEATURE REPEAT SECTION **/
.product-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow-x: scroll;
  padding-bottom: 100px;
}

.product-section {
  padding: 5px 10px;
}

h2.product-title {
  font-family: var(--font-sans-serif);
  font-weight: 100;
  font-size: x-large;
}

/** IN USE SECTION **/
h2.in-use--title {
  font-family: var(--font-sans-serif);
  font-size: 400%;
  font-weight: 100;
  grid-column: 3 / span 2;
  grid-row-start: 1;
  padding-left: 30px;
}

.in-use--figcapt {
  font-family: var(--font-serif);
  font-size: large;
}

in-use--img {
  width: 100%;
  height: auto;
}

.in-use--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  padding: 110px 60px 110px 170px;
}

.in-use--fig1 {
  grid-column-start: 1;
  grid-row-start: 1;
  margin: 0;
}

.in-use--fig2 {
  grid-column-start: 4;
  grid-row-start: 1;
  margin: 300px 0px 0px 0px;
}

.in-use--fig3 {
  grid-column-start: 2;
  grid-row-start: 3;
  margin: 0px 0px 0px 70px;
}

.in-use--fig4 {
  grid-column-start: 4;
  grid-row-start: 3;
  margin: 270px 0px 0px 100px;
}

.in-use--fig5 {
  grid-column-start: 1;
  grid-row-start: 4;
  margin: 0;
}


/** FOOTER **/
.footer-logo {
  max-width: 100%;
  height: auto;
}

.footer-text {
  font-family: var(--font-sans-serif);
  margin-left: 75px;
  font-size: larger;
}

.footer-email {
  font-family: var(--font-serif);
  font-size: xx-large;
  font-style: italic;
  font-weight: 100;
  margin-left: 75px;
}

input[type=email] {
  border: none;
  border-bottom: 2px solid var(--black);
  background-color: var(--beige);
  padding-bottom: 5px;
}

.button-submit {
  background-color: var(--black);
  color: var(--beige);
  text-transform: uppercase;
  font-family: var(--font-sans-serif);
  font-size: medium;
  border-radius: 20px;
  padding: 5px 25px;
  border: solid 1px var(--black);
}

.footer-container {
  font-family: var(--font-sans-serif);
  display: flex;
  font-size: x-large;
  padding-bottom: 20px;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-list {
  padding: 50px 20px 20px 10px;
  margin: 0;
}

.footer-list-special {
  padding: 50px 100px 20px 10px;
  margin: 0;
}

li.footer-item {
  list-style: none;
  line-height: 35px;
}

a.footer-item {
  text-decoration: none;
}

/** FOOTER - LINKS **/
a.footer-item {
  text-decoration: none;
}

a.footer-item:link {
  color: var(--black);
}

a.footer-item:visited {
  color: var(--black);
}

a.footer-item:hover {
  color: var(--grey);
}