<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Components | BAGGU</title>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="https://use.typekit.net/opf0byf.css">
    </head>

    <body>
        <h1>Component Library</h1>

    <!--BANNER and NAVIGATION-->
        <img srcset="img/baggu-topbanner.png 2x"
        src="img/baggu-topbanner.png" alt="top banner">

        <div class="banner">
            <p>FREE Shipping on all U.S. orders over $40<p>
        </div>

        <img srcset="img/baggu-mainnav.png 2x"
        src="img/baggu-mainnav.png" alt="main navigation">
        
        <header>
            <nav class="nav">
                <ul class="nav--list">
                    <li class="nav--item"><a class="nav--item" href="#">Shop</a></li>
                    <li class="nav--item"><a class="nav--item" href="#">Info</a></li>
                    <li class="nav--item"><a class="nav--item" href="#">Search</a></li>
                </ul>

                <ul class="nav--list">
                    <li class="nav--item"><a class="nav--item" href="#">Baggu.com</a></li>
                    <li class="nav--item"><a class="nav--item" href="#">Cart (0)</a></li>
                </ul>
            </nav>
            <hr>
        </header>

    <!--FEATURE SECTION-->
        <img srcset="img/baggu-featuresection.png 2x"
        src="img/baggu-featuresection.png" alt="feature section">

        <div class="feature-container">
            <div class="feature-section">
                <img class="feature-img" src="img/baggu-featuresection-img1.1.png" alt="Close up images of product material.">
                <h2 class="feature-title">The Deadstock Collection</h2>
                <button class="button-primary"><a class="button-primary" href="#">Shop</a></button>
            </div>
            <div class="feature-section">
                <img class="feature-img" src="img/baggu-featuresection--img2.1.png" alt="Image of three bag products on models.">
                <h2 class="feature-title">Medium Nylon Crescent</h2>
                <button class="button-primary"><a class="button-primary" href="#">Shop</a></button>
            </div>
        </div>
    
    <!--NEW ARRIVALS-->

    
    <!--ROTATING IMGS-->


    <!--IN USE-->


    <!--INSTAGRAM CAROUSEL-->

    
    <!--FOOTER-->
        <img srcset="img/baggu-footer.png 2x"
        src="img/baggu-footer.png" alt="page footer">
        <footer>

        </footer>

    </body>
</html>